<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="cadenaConexion" providerName="System.Data.SqlClient" connectionString="server=172.16.20.3;database=ARINVENTARIO_SAP;uid=sa;pwd=Pr0c3s4d0r"/>-->
    <!--<add name="cadenaConexion" providerName="System.Data.SqlClient" connectionString="server=172.16.20.9,1433\MSSQLSERVER;database=ARINVENTARIO_SAP;uid=Sa;pwd=Rosales285**"/>-->
	  <!--
	  <add name="cadenaConexion" providerName="System.Data.SqlClient" connectionString="Server=192.168.1.165;Database=ARINVENTARIO_SAP; User Id=Sa;Password=Rosales285**;Max Pool Size=100; Min Pool Size=10; Connection Timeout=30;MultipleActiveResultSets=True; ApplicationIntent=ReadWrite;Encrypt=True; TrustServerCertificate=True;" />	  
	-->
    <!--Produccion-->
	
    <add name="cadenaConexion" providerName="System.Data.SqlClient" connectionString="Server=10.0.0.150;Database=ARINVENTARIO_SAP; User Id=Sa;Password=Rosales285**;Max Pool Size=100; Min Pool Size=10; Connection Timeout=30;MultipleActiveResultSets=True; ApplicationIntent=ReadWrite;Encrypt=True; TrustServerCertificate=True;" />
    <add name="cadenaConexion_arsysusers" providerName="System.Data.SqlClient" connectionString="server=172.16.20.3;database=ARSYSUSERS;uid=sa;pwd=Pr0c3s4d0r" />
  
  </connectionStrings>
  <appSettings />
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="login.aspx" name="appNameAuth" />
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.5" />
    <sessionState timeout="7200" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>